*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

// Header 
.App .Header{
  height: 72px;
  width: 100%;
  background-color: #5c1ef9;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 99;
  // logo
  .logo{
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      color:white;
      text-shadow: #fff -3px 1px 20px;
      font-style: italic;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      font-size: 48px;
      letter-spacing: -6px;
    }
  }
  // logo End
  // menu
  .menu{
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul{
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      
        a{
          text-decoration: none;
          cursor: pointer;
          display: block;
          position: relative;
          font-size: 14px ;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          color: #fff;
          letter-spacing: 0;
          li{
            list-style: none;
          }
        }
        li:before{
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          width: 0%;
          background-color: #fff;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }
        a:hover li::before,.active::before {
          width: 70%;
        }
      
    }
  }
  // menu
}
// Header  END 
// Home 
.App .Home{
  width: 100%;
  height: 100%;
  // slider-area
  .slider-area{
    width: 100%;
    height: 800px;
    background-color: #5d12f8;
    display: flex;
    align-items: center;
    padding-top: 80px;
    // .slider-img
    .slider-img {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img{
        max-height: 100%;
      }
    }
    // .slider-img End
    // slider-inner
    .slider-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: 48px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0;
        line-height: 49px;
        font-family:'Poppins', sans-serif;
      }
      h5{
        font-weight: 500;
        color: #fff;
        letter-spacing: 0;
        line-height: 39px;
        margin-bottom: 50px;
        margin-top: 5px;
        font-family:'Poppins', sans-serif;
        font-size: 30px
      }
    }
    // slider-inner End
  }
  // slider-area End
  // service-area 
  .service-area {
    margin-top: -100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .service-single{
      width: 360px;
      height: 289px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
      // service-img
      .service-img{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      // service-img end
      h2{
        font-size: 30px;
        font-family:'Poppins', sans-serif;
        font-weight: 400;
      }
      p{
        color:#666;
        font-size: 15px;
        font-family:'Poppins', sans-serif;
        font-weight: 400;
      }
    }
  }
  // service-area End
  // about-area 
  .about-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      font-size: 30px;
      font-family:'Poppins', sans-serif;
      font-weight: 600;
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      // width: fit-content;
    }
    h2:before{
      content: '';
      position: absolute;
      left: calc(50% - 70px);
      bottom: -6px;
      height: 2px;
      width: 140px;
      background-color: #5c1ef9;
    }
    h2::after{
      content: '';
      position: absolute;
      left: calc(50% - 4px);
      bottom: -9px;
      height: 10px;
      width: 10px;
      background-color: #5c1ef9;
      transform: rotate(45deg);
    }
    p{
      color:#666;
      font-size: 15px;
      font-family:'Poppins', sans-serif;
      font-weight: 600;
      text-align: center;
    }
    // info-about
    .info-about{
      padding: 100px;
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      p{
        text-align: start;
        width: 30%;
        font-size: 15px;
        font-weight: normal;
        line-height: 28px;
      }
    }
    // info-about End
  }
  // about-area End
}
// Home  End 
//Features
.Features{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  h2{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    // width: fit-content;
  }
  h2:before{
    content: '';
    position: absolute;
    left: calc(50% - 70px);
    bottom: -6px;
    height: 2px;
    width: 140px;
    background-color: #5c1ef9;
  }
  h2::after{
    content: '';
    position: absolute;
    left: calc(50% - 4px);
    bottom: -9px;
    height: 10px;
    width: 10px;
    background-color: #5c1ef9;
    transform: rotate(45deg);
  }
  p{
    color:#666;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  // Features-info 
  .Features-info {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 10px 0px 10px;
    // left space-evenly
    .left{
      width: 30%;
      .itam{
        h3{
          left: 0px;
          text-align: end;
        }
        p{
          text-align: start;
          bottom: 1px;
          text-align: end;
        }
        img{
          right: 0px;
          top:0px;
        }
      }
    }
    // left End
    // center
    // .center{
      // 
    // }
    // center End
    // right
    .right{
      width: 30%;
      .itam{
        h3{
          position: absolute;
          left:65px;
        }
        p{
          position: absolute;
          left:65px;
        }
        img{
          top:5px;
          left: -10px;
        }
      }
    }
    // right End
    .left , .right{
      display: flex;
      flex-direction: column;
      .itam{
        width: 360px;
        height: 95px;
        position: relative;
        margin: auto;
        h3{
          width: 286px;
          font-size: 25px;
          font-family:'Poppins', sans-serif;
          font-weight: 400;
          position: relative;
          margin-bottom: 10px;
        }
        p{
          width: 286px;
          color:#666;
          font-size: 14px;
          font-family:'Poppins', sans-serif;
          font-weight: 400;
          bottom: 1px;
        }
        img{
          position: absolute;
        }
      }
    }
  }
  // Features-info End
}
// Features Enb
// Pricing
.Pricing{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  h2{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    // width: fit-content;
  }
  h2:before{
    content: '';
    position: absolute;
    left: calc(50% - 70px);
    bottom: -6px;
    height: 2px;
    width: 140px;
    background-color: #5c1ef9;
  }
  h2::after{
    content: '';
    position: absolute;
    left: calc(50% - 4px);
    bottom: -9px;
    height: 10px;
    width: 10px;
    background-color: #5c1ef9;
    transform: rotate(45deg);
  }
  p{
    color:#666;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  // price-area
  .price-area{
    margin:50px auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // price-item
    .price-item{
      box-shadow: 0px 0px 9px rgba(0,0,0,0.05);
      border-radius: 12px;
      width: 360px;
      height: 506px;
      display: flex;
      flex-direction: column;
      align-items: center;
      // prc-head
      .prc-head{
        width: 100%;
        height: 175px;
        background: #5a10fb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span{
          color: #fff;
          font-size: 24px;
          font-family:'Poppins', sans-serif;
          font-weight: normal;
        }
        h5{
          color: #fff;
          font-size: 40px;
          font-family:'Poppins', sans-serif;
          font-weight: normal;
          small{
            font-size: 30px;
          }
        }
      }
      // prc-head
      // prc-content 
      .prc-content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        li{
          list-style: none;
          margin: 12px 0px 10px 0px;
          text-align: start;
          color: #666;
          font-size: 15px;
          font-family:'Poppins', sans-serif;
          font-weight: normal;
        }
      }
      // prc-content 
      button{
        margin-top: 10px;
        background: none;
        border: 1px solid #591efb;
        font-size: 18px;
        font-family:'Poppins', sans-serif;
        font-weight: normal;
        color: #666;
        padding: 5px 21px;
        border-radius: 3px;
      }
      button:hover{
        background-color: #591efb;
        color: #fff;
        cursor: pointer;
      }
    }
    // price-item
  }
  // price-area End
}
// Pricing End
// Download
.App .Download{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  h2{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    // width: fit-content;
  }
  h2:before{
    content: '';
    position: absolute;
    left: calc(50% - 70px);
    bottom: -6px;
    height: 2px;
    width: 140px;
    background-color: #5c1ef9;
  }
  h2::after{
    content: '';
    position: absolute;
    left: calc(50% - 4px);
    bottom: -9px;
    height: 10px;
    width: 10px;
    background-color: #5c1ef9;
    transform: rotate(45deg);
  }
  p{
    color:#666;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  // links
  .links{
    margin: 50px 0px 0px 0px ;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    // link
    .link{
      width: 200px;
      height: 45px;
      border: 1px solid #666;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: #5a10fb;
      border-radius: 30px;
      .icon{
        color: #fff;
        margin: 5px;
      }
      samp{
        color:#fff;
        font-size: 15px;
        font-family:'Poppins', sans-serif;
        font-weight: 600;
      }
    }
    .link:hover{
      background-color: #fff;
      border: 2px solid #591efb;
      cursor: pointer;
      .icon{
        color: #591efb;
        
      }
      samp{
        color:#591efb;
      }
    }
    // link 
  }
  // links End
}
// Download End
// Contact
.Contact{
  margin-top: 50px;
  height: 100vh;
  h2{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    // width: fit-content;
  }
  h2:before{
    content: '';
    position: absolute;
    left: calc(50% - 70px);
    bottom: -6px;
    height: 2px;
    width: 140px;
    background-color: #5c1ef9;
  }
  h2::after{
    content: '';
    position: absolute;
    left: calc(50% - 4px);
    bottom: -9px;
    height: 10px;
    width: 10px;
    background-color: #5c1ef9;
    transform: rotate(45deg);
  }
  p{
    color:#666;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .content{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin:20px  auto 100px auto;
  }
  // info
  .info{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    samp{
      font-size: 15px;
      font-family:'Poppins', sans-serif;
      font-weight: 400;
      color: #666;
      margin: 10px 0px 20px 0px;
      cursor: pointer;
      svg{
        color: #591efb;
        margin: 0px 10px 0px 0px;
      }
    }
  }
  // info End
  // form
  form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    input ,textarea {
      width: 500px;
      height: 80px;
      border:none;
      border-radius: 3px ;
      margin: 10px 0px 10px 0px;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
      color: #222;
    }
    input:focus ,textarea:focus{
      outline: none;
      border:#591efb 1px solid;
    }
    textarea{
      height: 100px;
    }
    button{
      margin-top: 10px;
      background: none;
      border: 1px solid #591efb;
      font-size: 18px;
      font-family:'Poppins', sans-serif;
      font-weight: normal;
      color: #666;
      padding: 5px 21px;
      border-radius: 3px;
    }
    button:hover{
      background-color: #591efb;
      color: #fff;
      cursor: pointer;
    }
  }
  // form End
}
// Contact End
// Footer
.App .Footer{
  width: 100%;
  height: 80px ;
  border: 1px solid #000;
  background-color: #5a10fb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p{
    font-size: 14px;
    font-family:'Poppins', sans-serif;
    font-weight: normal;
    color: #fff;
    a{
      color: #000;
      text-decoration: none;
    }
  }
}
// Footer End
// moblie
@media screen and (max-width: 600px) {
  
// Header 
.App .Header{
  height: fit-content;
  flex-direction: column;
  // logo
  .logo{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    h1{
      font-size: 30px;
      margin: 10px 0px 10px 10px;
    }
  }
  // logo End
  // menu
  .menu{
    width: 100%;
    height: 100%;
    flex-direction: column;
    ul{
      width: 100%;
      margin: 0px 0px 10px 0px;
      
        a{
          font-size: 12px;
        }
    }
  }
  // menu
}
// Header  END 
  // Home
  .App .Home{
    // slider-area
    .slider-area{
      flex-direction: column;
      height: 500px;
      // .slider-img
      .slider-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img{
          width: 80%;
        }
      }
      // .slider-img End
      // slider-inner
    .slider-inner{
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        font-size: 30px;
      }
      h5{
        font-size: 24px;
      }
    }
    // slider-inner End
  }
  // slider-area End
  // service-area 
  .service-area {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    .service-single{
    margin: 10px 0px 10px 0px;
      // service-img
    }
  }
  // service-area 
  // service-area End
  // about-area 
  .about-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      color:#666;
      font-size: 15px;
      font-family:'Poppins', sans-serif;
      font-weight: 600;
      text-align: center;
    }
    // info-about
    .info-about{
      padding: 0px;
      flex-direction: column;
      img{
        width: 80%;
        margin: 20px 0px 20px 0px;
      }
      p{
        width: 100%;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 20px;
      }
    }
    // info-about End
  }
  // about-area End
  }
  // Home End
//Features
.Features{
  height: fit-content;
  // Features-info 
  .Features-info {
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    // left space-evenly
    .left{
      width: 100%;
      
      .itam{
        h3{
          left: 0px;
          text-align: end;
        }
        p{
          text-align: start;
          bottom: 1px;
          text-align: end;
        }
        img{
          right: 0px;
          top:0px;
        }
      }
    }
    // left End
    // center
    .center{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    // center End
    // right
    .right{
      width: 30%;
      .itam{
        h3{
          left: 0px;
          text-align: end;
        }
        p{
          text-align: start;
          bottom: 1px;
          text-align: end;
        }
        img{
          right: 0px;
          top:0px;
        }
      }
        
    }
    // right End
    .left , .right{
      margin: 20px 0px 20px 0px;
    }
  }
  // Features-info End
}
// Features Enb
// Pricing
.Pricing{
  height:fit-content;
  border: #000 1px solid;
  // price-area
  .price-area{
    // price-item
    .price-item{
    margin: 20px 0px 20px 0px;
    }
    // price-item
  }
  // price-area End
}
// Pricing End
// Download
.App .Download{
  height: 100vh;
  // links
  .links{
    flex-direction: column;
    height: 80%;
    
  }
  // links End
}
// Download End
// Contact
.Contact{
  height: fit-content;
  .content{
    width: 100%;
    flex-direction: column;
  }
  // info
  .info{
    margin-left: 30px;
    samp{
      font-size: 12px;
    }
  }
  // info End
  // form
  form{
    margin-left: 30px;
    input ,textarea {
      width: 300px;
    }
  }
  // form End
}
// Contact End
// Footer
.App .Footer{
  p{
    font-size: 10px;
  }
}
// Footer End
}
// moblie End 
// ipad
@media screen and (max-width: 850px) {
  // Header 
  .App .Header{
    width: 100vw;
  // logo
  .logo{
    width: 40%;
  }
  // logo End
  // menu
  .menu{
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    ul{
      width: 100%;
        a{
          font-size: 16px ;
        }
    }
  }
  // menu End
  }
  // Header 
    // Home 
  .App .Home{
    width: 100vw;
    // slider-area
    .slider-area{
      padding: 0px 10px 0px 10px;
      // .slider-img
      .slider-img {
        justify-content: center;
        img{
          width: 80%;
        }
      }
      // .slider-img End
      // slider-inner
      .slider-inner{
        align-items: normal;
        h2{
          font-size: 40px;
        }
        h5{
          margin: 10px 0px 10px 0px;
          
        }
      }
      // slider-inner End
    }
    // slider-area End
    // service-area 
    .service-area {
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
      .service-single{
        margin: 10px 0px 10px 0px;
        width: 500px;
        h2{
          font-size: 46px;
        }
        p{
          font-size: 20px;
        }
      }
    }
    // service-area End
    // about-area 
    .about-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // info-about
      .info-about{
        padding: 10px;
        width: 100%;
        p{
          padding: 10px ;
          width: 50%;
          line-height:24px;
        }
      }
      // info-about End
    }
    // about-area End
  }
  // Home  End 
  //Features
.Features{
  height: fit-content;
  // Features-info 
  .Features-info {
    width: 100%;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    // left space-evenly
    .left{
      margin:20px -198px 16px 0px;
      .itam{
        h3{
          left: 0px;
          text-align: end;
        }
        p{
          text-align: start;
          bottom: 1px;
          text-align: end;
        }
        img{
          right: 0px;
          top:0px;
        }
      }
    }
    // left End
    // center
    .center{
      width: 100%;
      display: flex;
      justify-content: center;
    }
    // center End
    // right
    .right{
      margin:10px 0px 10px -470px;
      .itam{
        h3{
          left: 0px;
          text-align: end;
        }
        p{
          text-align: start;
          bottom: 1px;
          text-align: end;
        }
        img{
          right: 0px;
          top:0px;
        }
      }
        
    }
    // right End
  }
  // Features-info End
}
// Features End
// Pricing
.Pricing{
  height:fit-content;
  // price-area
  .price-area{
    // price-item
    .price-item{
    margin: 20px 0px 20px 0px;
    }
    // price-item
  }
  // price-area End
}
// Pricing End
// Download
.App .Download{
  height: 100vh;
  padding: 50px;
  // links
  .links{
    flex-direction: column;
    height: 80%;
    
  }
  // links End
}
// Download End
// Contact
.Contact{
  height: 100vh;
  .content{
    width: 100%;
    flex-direction: column;
    align-items: center
  }
  // info
  .info{
    margin-left: 30px;
    samp{
      font-size: 20px;
    }
  }
  // info End
  // form
  form{
    margin-left: 30px;
    input ,textarea {
      width: 550px;
    }
  }
  // form End
}
// Contact End
// Footer
.App .Footer{
  p{
    font-size: 10px;
  }
}
// Footer End

}
//ipad